<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<head th:fragment="css">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	</head>
	
	<head th:fragment="js">	
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<a th:text="'SIPEG'" class="navbar-brand" href="#"></a>
			</div>
			<div class="collapse navbar-collapse navbar navbar-default" id="navbarSupportedContent">
				<ul class="nav navbar-nav">
					<li>
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/pegawai/cari}">Cari Pegawai</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/jabatan/viewall}">Lihat Semua Jabatan</a>
					</li>
			</div>
		</div>
	</nav>
</body>

</html>