<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>404 Not found</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="col-md-8">
		<h2>Halaman tidak ditemukan</h2>
		<hr>
		<p>Halaman yang Kamu cari tidak dapat ditemukan</p>
		<hr>
		<p>Silahkan kembali ke halaman utama kami</p>
		<a class="btn btn-primary" href="/">Home</a>
	</div>
</body>

</html>